<table>
<caption>&#x{{ include.codepoint }}; U+{{ include.codepoint | upcase }} <dfn>{{ include.name }}</dfn></caption>
<tr>
<td class="Apple" title="Apple iOS/macOS"><img src="https://rawgit.com/iamcal/emoji-data/master/img-apple-64/{{ include.codepoint }}.png" alt="" /></td>
<td class="Google" title="Google Android (Noto)"><img src="https://rawgit.com/iamcal/emoji-data/master/img-google-64/{{ include.codepoint }}.png" alt="" /></td>
<td class="Twitter" title="Twitter (Twemoji)"><img src="https://rawgit.com/iamcal/emoji-data/master/img-twitter-64/{{ include.codepoint }}.png" alt="" /></td>
<td class="Emojione" title="Emojione"><img src="https://rawgit.com/iamcal/emoji-data/master/img-emojione-64/{{ include.codepoint }}.png" alt="" /></td>
<td class="Facebook" title="Facebook Messenger"><img src="https://rawgit.com/iamcal/emoji-data/master/img-messenger-64/{{ include.codepoint }}.png" alt="" /></td>
<!--td class="Samsung" title="Samsung"><img src="http://hashfla.gs/unicode/emojipedia/possible-provisional/samsung/{{ include.codepoint }}.png" alt="" /></td>
<td class="LG"><img src="http://hashfla.gs/unicode/emojipedia/possible-provisional/lg/{{ include.codepoint }}.png" alt="" /></td-->
</tr>
</table>

