<table>
<caption>&#x{{ include.codepoint }}; U+{{ include.codepoint }} <dfn>{{ include.name }}</dfn></caption>
<tr class="current">
<td class="Apple iOS/macOS 2016"><img src="https://rawgit.com/iamcal/emoji-data/master/img-apple-64/{{ include.codepoint }}.png" alt="" />
<td class="Google" title="Google Android (Noto) 2016"><img src="https://rawgit.com/iamcal/emoji-data/master/img-google-64/{{ include.codepoint }}.png" alt="" />
<td class="Microsoft" title="Microsoft Windows 10 (Segoe) 2016"><img src="" alt="" />
<td class="Facebook" title="Facebook (Web) 2016"><img src="" alt="" />
<td class="Twitter" title="Twitter (Twemoji 2) 2016"><img src="https://rawgit.com/iamcal/emoji-data/master/img-twitter-64/{{ include.codepoint }}.png" alt="" />
<td class="Emojione" title="Emojione 2 2016"><img src="https://rawgit.com/iamcal/emoji-data/master/img-emojione-64/{{ include.codepoint }}.png" alt="" />
<td class="Samsung" title="Samsung"><img src="http://hashfla.gs/unicode/emojipedia/possible-provisional/samsung/{{ include.codepoint }}.png" alt="" />
</tr>
<tr class="previous" title="old or alternative">
<td class="Apple" title="Apple iOS/OS X 2015"><img src="" alt="" />
<td class="Google" title="Google Android 4&ndash;6 (Noto) 2015"><img src="" alt="" />
<td class="Microsoft" title="Microsoft Windows 8.1&ndash;10 (Segoe) 2015"><img src="" alt="" />
<td class="Facebook" title="Facebook Messenger 2016"><img src="https://rawgit.com/iamcal/emoji-data/master/img-messenger-64/{{ include.codepoint }}.png" alt="" />
<td class="Twitter" title="Twitter (Twemoji 1) 2014"><img src="" alt="" />
<td class="Emojione" title="Emojione 1 2015"><img src="" alt="" />
<td class="LG"><img src="http://hashfla.gs/unicode/emojipedia/possible-provisional/lg/{{ include.codepoint }}.png" alt="" />
</tr>
<tr class="original">
<td class="Softbank" title="Softbank, Disney Mobile, Yahoo Mobile"><img src="" alt="" />
<td class="Google" title="Google Gmail"><img src="" alt="" />
<td class="Microsoft" title="Microsoft Windows 7 (Segoe) 2010?"><img src="" alt="" />
<td class="Facebook" title="Facebook"><img src="" alt="" />
<td class="KDDI" title="KDDI au, EZweb"><img src="" alt="" />
<td class="NTT" title="NTT Docomo, i-mode"><img src="" alt="" />
<td class="" title=""><img src="" alt="" />
</tr>
</table>

